# ----------------------------------------------------------------------------
#   Java.
# ----------------------------------------------------------------------------
*.class

# Package Files #
*.jar
*.war
*.ear
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#   Python.
# ----------------------------------------------------------------------------
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
# ----------------------------------------------------------------------------
rosalind/revp/target
